/*
 * This is a Work In Progress!
 * The code is a rough draft, I would suggest not using it until it's done
 * 20102020
 */
h3 {
  color: #595959;
  font-size: 1.5em;
}

.pages_ds > p {
  font-style: italic;
}

.content_l {
  display:flex !important;
  justify-content:flex-end;
  align-items:center;
  height:100%;
  margin-right: 10%;
  margin-left:10%;
}

.content_r {
  display:flex !important;
  justify-content:flex-start;
  align-items:center;
  height:100%;
  margin-right: 10%;
  margin-left:10%;
  
}

.content_l > p {
    font-size: 1.5em;
    color: #424242;
    text-shadow: #424242 0.1px 0.1px;
}

.content_r > p {
    font-size: 1.5em;
    color: #424242;
    text-shadow: #424242 0.1px 0.1px;
}

.review_photo {
  height: 100%;
  width: 50%;
  float: left;
  text-align: right;
 /*-webkit-transition:  0.6s ease-in-out 0s;
  transition: 0.6s ease-in-out 0s;*/
  
}

.review_text {
  float: left;
  height: 100%;
  width: 50%;
  text-align: left;
/* -webkit-transition:  0.6s ease-in-out 0s;
  transition: 0.6s ease-in-out 0s;*/
  
}

.review_text > p {
  padding: 20px;
    width: 75%;
    /* height: 850px; */
    margin: 200px auto;
    font-size: 20px;
    font-family: Candara;
    font-weight: 600;
    font-style: italic;
    line-height: 1.5em;
    
 
}

.review_photo > p {
  padding: 20px;
      width: 75%;
    /* height: 850px; */
    margin: 200px auto;
    font-size: 20px;
    font-family: Candara;
    font-weight: 600;
    font-style: italic;
    line-height: 1.5em;
    
}


/*body {
  padding: 0;
  margin: 0;
  color:  #4C8831; 
  font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  line-height: 1.5em;
} */


#leftside {
  height: 100%;
  width: 50%;
  float: left;
  opacity: 0;
  background-position: 100% 50%;
  background-size: 150%
/*  background-position: 100% 50%; */
  -webkit-transition:  0.6s ease-in-out 0s;
  transition: 0.6s ease-in-out 0s;
  opacity: 0;
}

#rightside {
  float: left;
  height: 100%;
  width: 50%;
  background-position:  0% 50%;
  background-size: 150%
 /* background-position: 100% 50%; */
  -webkit-transition: 0.6s ease-in-out 0s;
  transition: 0.6s ease-in-out 0s;
  opacity: 0;
}

#slider {
  /* color:  #4C8831; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
 background-position: 50% 50%;
 /* -webkit-transition: 0.6s ease-in-out 0s;
  transition: 0.6s ease-in-out 0s;*/
}

#centerside {
  /* color:  #4C8831; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
  opacity: 0;
 background-position: 50% 70%;
  background-size: 60%;
  -webkit-transition: 0.6s ease-in-out 0s;
  transition: 0.6s ease-in-out 0s;
}

.page1 {
/* background-image: url(http://s.lpmtr.ru/files/2/0/8/2084ca067c683d47bdd48b25683016cc.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1 !important; */
}

.page2 {

  
}

.page3 {
 
}

.page4 {
 
}

.page5 {
   
}

.page6 {
 
}

.page7 {
 
}

.page8 {
   
}


/* leftside pages aka lpage# */

.lpage1 {
  background-image: url(http://s.lpmtr.ru/files/5/2/c/52c3817abb0b21fb3e1aeae0e0a14d80.jpg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1 !important; 
  
}
.lpage2 {
/*  background-image: url(http://s.lpmtr.ru/files/1/7/0/17003cca61f2c1e22cb43bcd2febe5af.jpg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1 !important; */
}

.lpage3 {
  background-image: url(http://s.lpmtr.ru/files/6/d/1/6d121438237937cd774b53df28a2d1c6.jpg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1 !important; 
}

.lpage4 {
   
}

.lpage5 {
  
}

.lpage6 {
  background-image: url(https://s.lpmtr.ru/files/7/a/8/7a83d09250138ef4925e5e890c4dd284.jpg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1 !important;
  
}

.lpage7 {
   
  
}

.lpage8 {
   background-image: url(http://s.lpmtr.ru/files/8/c/c/8cc393e0cabb155854e4178d8367267d.jpg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1 !important;
  
}


/* rightside pages aka rpage# */

.rpage1 {
/*   background-image: url(https://s.lpmtr.ru/files/f/8/5/f854975641043daa338c9e00e0f19344.jpg);
  background-position:  0% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1 !important;*/
}

.rpage2 {
  
 background-image: url(http://s.lpmtr.ru/files/8/1/9/8194971b1e0b0ca9bb237514d60697da.jpg);
  background-position:  0% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1 !important;
}

.rpage3 {
/* background-image: url(http://s.lpmtr.ru/files/6/d/1/6d121438237937cd774b53df28a2d1c6.jpg);
  background-position:  0% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1 !important;*/
}

.rpage4 {
   background-image: url(http://s.lpmtr.ru/files/1/5/2/152cf99ad8eff149e67e3cc37dbc0869.jpg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1 !important; 
 
}

.rpage5 {
   background-image: url(http://s.lpmtr.ru/files/d/4/6/d46ffa617f9e92cd7d3a0391448d925b.jpg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1 !important;
  
}

.rpage6 {
  
}

.rpage7 {
  
   background-image: url(http://s.lpmtr.ru/files/c/c/a/cca1d5589a31311ad087467306a39366.jpg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 1 !important;
}

.rpage8 {
  
   
  
}

a {
  color: #fff;
  text-decoration: none;
}

#pages {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 100px;
  right: 100px;
  padding: 0;
}

#pages li {
  right: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  display: inline-block;
  visibility: hidden;
  position: relative;
  display: none;
}

#pages .selected {
  opacity: 1;
  visibility: visible;
  display: inline;
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 10px;
  width: 25px;
  height: 25px;
  padding: 15px;
  /* Arrow size */
  margin: auto 0;
  z-index: 1000;
  cursor: pointer;
  border: solid transparent;
  border-width: 0 0 1rem 1rem;
  box-shadow: 1px -1px 0 1px #4C8831 inset;
  -webkit-box-shadow: 2px -2px #4C8831 inset;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.arrow:hover {
  box-shadow: 2px -2px 0 2px #4C8831 inset;
  -webkit-box-shadow: 4px -4px #4C8831 inset;
}

#prev {
  left: 30px;
  -webkit-transform: rotate(45deg) scale(2);
  transform: rotate(45deg) scale(2);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#next {
  right: 30px;
  -webkit-transform: rotate(225deg) scale(2);
  transform: rotate(225deg) scale(2);
}

#next:hover {
  -webkit-transform: rotate(225deg) scale(3);
  transform: rotate(225deg) scale(3);
}

#prev:hover {
  -webkit-transform: rotate(45deg) scale(3);
  transform: rotate(45deg) scale(3);
}


/* navigation */

.navigation {
  width: 100%;
  bottom: 7px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 0;
  height: 60px;
  z-index: 10;
}

.navigation li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: 15px 4px;
}

.navigation span {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #4C8831;
  border-radius: 100%;
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.navigation a:hover span {
  opacity: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.navigation a.selected span {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
